.Body {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
  
    width: 600px;
    height: 250px;
}

.explain {
    font-size: 35px;
    width: 600px;
    color: pink;
    font-family: Hiragino Kaku Gothic StdN;
}

.explain2{
    font-size: 20px;
    color:white;
}

.input1 {
    width:500px;
    height:30px;
}

.input2 {
    padding-top:40px;
}

.input3 {
    display       : inline-block;
    border-radius : 5%;          
    font-size     : 18pt;        
    text-align    : center;      
    cursor        : pointer;     
    padding       : 12px 12px;   
    background    : pink;     
    color         : #ffffff;     
    line-height   : 1em;         
    transition    : .3s;         
    box-shadow    : 6px 6px 3px #666666;  
    border        : 2px solid pink;    
}

.input3:hover {
    box-shadow    : none;        
    color         : pink;     
    background    : #ffffff;     
}

Body{
    background-image: url("family.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.output{
    padding-top:50px;
    color:white;
    font-size:15px;
}